build:s32k148_gcc --platforms=//bazel/platform:s32k148
# Default to gcc
build:s32k148 --config=s32k148_gcc

# TODO: Temporary config only needed for artifact analysis 
# Make Bazel's build match CMake s32k148-freertos-gcc default config
build:s32k148_relwithdebinfo --config=s32k148
build:s32k148_relwithdebinfo --copt=-g3
build:s32k148_relwithdebinfo --copt=-O2
build:s32k148_relwithdebinfo --copt=-DNDEBUG

test --//bazel/config/build_config=unit_test
